/**
  |============================
  | Common styles
  |============================
*/
:root {
    --white-color: #ffffff;
    --navy-blue-color: #2e2f42;
    --slate-color: #434455;
    --cloud-color: #F4F4FD;
    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
    --border-color: #E7E9FC;
    --light-slate-color: #8E8F99;
    --green-color: #31D0AA;
    --navyblue-modal: #2E2F4266;
    --dairy-modal: #FCFCFC;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate-color);
    background-color: var(--white-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/**
  |============================
  | Reset
  |============================
*/
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.btn {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
address {
    font-style: normal;
}
/**
  |============================
  | Base styles
  |============================
*/
.container {
    min-width: 320px;
    max-width: 428px;
    margin: 0 auto;
    padding: 0 16px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.section {
    padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .section {
    padding-bottom: 120px;
  }
}
/**
  |============================
  | Header
  |============================
*/
.header {
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 1158px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.header-container {
    display: flex;
    align-items: center;
}
.page-nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
}
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}
.page-nav .studio-word {
    color: var(--navy-blue-color);
}
@media only screen and (min-width: 768px) {
  .nav-links {
      display: flex;
      gap: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .nav-links {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .nav-item {
      font-weight: 500;
      color: var(--navy-blue-color);
      padding: 24px 0;
      position: relative;
  } 
}
@media only screen and (min-width: 1158px) {
  .nav-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .nav-item:hover,
  .nav-item:focus {
      color: var(--ocean-color);
  }
}
@media only screen and (min-width: 768px) {
  .active {
      color: var(--ocean-color);
  }
}
@media only screen and (min-width: 768px) {
  .active::after {
      content: "";
      display: block;
      background-color: var(--ocean-color);
      width: 100%;
      height: 4px;
      border-radius: 2px;
      position: absolute;
      bottom: -1px;
      left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .page-addr {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .page-addr {
    margin-left: auto;
    display: block;
    padding: 4px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .page-addr {
    padding: 0;
  }
}
@media only screen and (min-width: 768px) {
  .address-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
@media only screen and (min-width: 1158px) {
  .address-links {
    flex-direction: row;
    gap: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .page-addr .link {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: var(--slate-color);
  }
}
@media only screen and (min-width: 1158px) {
  .page-addr .link {
    font-size: 16px;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .page-addr .link:hover,
  .page-addr .link:focus {
      color: var(--ocean-color);
  }
}
/**
  |============================
  | Main Studio
  |============================
*/
/* Hero */
.hero-section {
    margin: 0 auto;
    padding: 112px 0;
    background-color: var(--navy-blue-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/bg_mob@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media only screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/bg_tab@1x.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/bg_desk@1x.jpg);
  }
}
/* Retina imgs */
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/bg_mob@2x.jpg);
  }
    @media only screen and (min-width: 768px) {
      .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
          url(../images/bg_tab@2x.jpg);
      }
    }
        @media only screen and (min-width: 1158px) {
          .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
              url(../images/bg_desk@2x.jpg);
          }
        }
}
.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 320px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin-bottom: 36px;
    text-transform: none;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-btn {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--iris-color);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 1158px) {
  .hero-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .hero-btn:hover,
  .hero-btn:focus {
      background-color: var(--ocean-color);
  } 
}
/* Features */
  .features-section {
      padding-top: 96px;
      margin: 0 auto;
  } 
@media only screen and (min-width: 1158px) {
    .features-section {
    padding-top: 120px;
  }
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
@media only screen and (min-width: 768px) {
  .features-list {
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .features-list {
    gap: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 24px) / 2);
  } 
}
@media only screen and (min-width: 1158px) {
  .features-item {
    width: calc((100% - 72px) / 4);
  }
}
.icon-card {
    display: none;
}
@media only screen and (min-width: 1158px) {
  .icon-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: var(--cloud-color);
  }
}
.features-list .title {
    color: var(--navy-blue-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .features-list .title {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .features-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.features-list .text {
    font-weight: 500;
}
@media only screen and (min-width: 1158px) {
  .features-list .text {
    font-weight: normal;
  }
}
/* Company's products */
.products-section {
    display: none;
}
@media only screen and (min-width: 1158px) {
  .products-section {
    display: block;
  }
}
@media only screen and (min-width: 1158px) {
  .section-title {
      font-size: 36px;
      letter-spacing: 0.02em;
      line-height: 1.11;
      text-align: center;
      text-transform: capitalize;
      color: var(--navy-blue-color);
      margin-bottom: 72px;
  } 
}
@media only screen and (min-width: 1158px) {
  .examples-list {
      display: flex;
      gap: 24px;
  } 
}
/* Team */
.team-section {
    padding-top: 96px;
    background-color: var(--cloud-color);
}
@media only screen and (min-width: 1158px) {
  .team-section {
    padding-top: 120px;
  }
}
.section-title {
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue-color);
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px;
}
@media only screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
  }
}
.team-card {
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.card {
    padding: 32px 0;
}
.team-member {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--navy-blue-color);
    text-align: center;
    margin-bottom: 8px
}
.position {
    text-align: center;
    margin-bottom: 8px;
}
.team-links-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.icon-item {
    width: 40px;
    height: 40px;
}
.soc-netw {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50% 50%;
    padding: 12px;
}
@media only screen and (min-width: 1158px) {
  .soc-netw {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.soc-icon {
    fill: var(--cloud-color);
}
@media only screen and (min-width: 1158px) {
  .soc-netw:hover,
  .soc-netw:focus {
      background-color: var(--ocean-color);
  }
}
/* Customers */
.customers-section {
    padding-top: 96px;
}
@media only screen and (min-width: 1158px) {
  .customers-section {
    padding-top: 120px;
  }
}
.customers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}
@media only screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
    margin: 0 auto;
    max-width: 552px;
  }
}
@media only screen and (min-width: 1158px) {
  .customers-list {
    gap: 24px;
    max-width: none;
  }
}
.customers-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
}
@media only screen and (min-width: 768px) {
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
}
@media only screen and (min-width: 1158px) {
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}
.customers-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--light-slate-color);
    color: var(--light-slate-color);
}
@media only screen and (min-width: 1158px) {
  .customers-link {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .customers-link:hover,
  .customers-link:focus {
      border-color: var(--ocean-color);
      color: var(--ocean-color);
  }
}
.clients-icon {
    fill: currentColor;
}
@media only screen and (min-width: 1158px) {
  .clients-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .customers-link:hover .clients-icon {
      fill: var(--ocean-color);
  }
}
/**
  |============================
  | Main Portfolio
  |============================
*/
/* Filtration */
.filtration-section {
  padding: 48px 0;
}
@media only screen and (min-width: 768px) {
  .filtration-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}
@media only screen and (min-width: 768px) {
  .filtration-section .container {
    padding: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .filtration-section .container {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 1158px) {
  .filtration-section {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}
.filtration-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 48px;
}
@media only screen and (min-width: 768px) {
  .filtration-list {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1158px) {
  .filtration-list {
    margin-bottom: 72px;
  }
}
.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background-color: var(--cloud-color);
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}
@media only screen and (min-width: 768px) {
  .filter-btn {
    padding: 12px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .filter-btn {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .filter-btn:hover,
  .filter-btn:focus {
      color: var(--white-color);
      background-color: var(--ocean-color);
      border: 1px solid transparent;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
          0px 2px 1px 0px rgba(0, 0, 0, 0.08),
          0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  }
}
/* Production */
.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}
@media only screen and (min-width: 768px) {
  .products-list {
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .products-list {
    column-gap: 24px;
    row-gap: 48px;
  }
}
.production-card {
  margin: 0 auto;
  border: 1px solid var(--cloud-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 1158px) {
  .production-card {
    border: none;
    box-shadow: none;
    margin: 0;
  }
}
.products-img {
    display: block;
}
@media only screen and (min-width: 1158px) {
  .products-img {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .products-img:hover,
  .products-img:focus {
      box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
          0px 1px 1px 0px rgba(46, 47, 66, 0.16),
          0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
}
.img-wrap {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    padding: 40px 32px 164px;
    transform: translateY(100%);
}
@media only screen and (min-width: 1158px) {
  .overlay {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .img-wrap:hover .overlay,
  .img-wrap:focus .overlay {
      transform: translateY(0);
  } 
}
@media only screen and (min-width: 1158px) {
  .overlay-text {
      color: var(--cloud-color);
      letter-spacing: 0.32px;
  }
}
.card-prod {
    padding: 32px 16px;
}
@media only screen and (min-width: 1158px) {
  .card-prod {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }
}
.production-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-bottom: 8px;
}
.description {
    color: var(--slate-color);
}
/**
  |============================
  | Footer
  |============================
*/
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--navy-blue-color);
}
.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 584px;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    align-items: baseline;
    gap: 0;
    flex-wrap: nowrap;
    width: 1158px;
  }
}
.logo-wrap {
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .logo-wrap {
    margin: 0;
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .logo-wrap {
    margin-right: 120px;
  }
}
.logo-foot {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    display: inline-block;
    margin-bottom: 16px;
}
.studio-word-foot {
    color: var(--cloud-color);
}
.footer-text {
  text-align: left;
  color: var(--cloud-color);
  max-width: 264px;
}
.social-wrap {
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .social-wrap {
    margin: 0;
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .social-wrap {
    margin-right: 80px;
  }
}
.social-title {
    color: var(--white-color);
    font-weight: 500;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
.footer-list {
    display: flex;
    gap: 16px;
}
.foot-item {
    width: 40px;
    height: 40px;
}
.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50% 50%;
}
@media only screen and (min-width: 1158px) {
  .footer-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .footer-link:hover,
  .footer-link:focus {
      background-color: var(--green-color);
  }
}
.foot-icon {
    fill: var(--cloud-color);
}
/* Footer form */
.form-wrap {
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .form-wrap {
    margin: 0;
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .form-wrap {
    margin-left: 0;
    margin-top: 0;
  }
}
.form-text {
    color: var(--white-color);
    font-weight: 500;
    margin-bottom: 16px;
}
.foot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
@media only screen and (min-width: 768px) {
  .foot-form {
    flex-direction: row;
    gap: 24px;
  }
}
.subscribe-input {
    width: 390px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    color: var(--white-color);
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media only screen and (max-width: 410px) {
  .subscribe-input {
    width: 285px;
  }
}
@media only screen and (min-width: 768px) {
  .subscribe-input {
    width: 264px;
  }
}
.subscribe-input::placeholder {
    color: var(--white-color);
}
.foot-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: var(--iris-color);
    border: none;
    color: var(--white-color);
    text-align: center;
}
@media only screen and (min-width: 1158px) {
  .foot-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .foot-btn:hover,
  .foot-btn:focus {
      background-color: var(--ocean-color);
  }
}
.subs-icon {
    fill: var(--white-color);
    margin-left: 16px;
}
/**
  |============================
  | Modal
  |============================
*/
.backdrop {
    background-color: var(--navyblue-modal);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 100%;
    width: 392px;
    min-height: 584px;
    border-radius: 4px;
    background-color: var(--dairy-modal);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px;
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -70%);
}
.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
@media only screen and (min-width: 1158px) {
  .modal-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .modal-btn:hover,
  .modal-btn:focus {
      background-color: var(--ocean-color);
      border: none;
  }
}
.modal-icon {
    fill: var(--navy-blue-color);
}
@media only screen and (min-width: 1158px) {
  .modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .modal-btn:hover .modal-icon,
  .modal-btn:focus .modal-icon {
      fill: var(--white-color);
  }
}
/* Modal form */
.modal-text {
    color: var(--navy-blue-color);
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px;
}
.form-container {
    margin-bottom: 8px;
}
.label-field {
    display: block;
    color: var(--light-slate-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.input-container {
    position: relative;
}
.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal);
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
}
@media only screen and (min-width: 1158px) {
  .modal-input {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .modal-input:focus {
      border-color: var(--iris-color);
  }
}
.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--navy-blue-color);
}
@media only screen and (min-width: 1158px) {
  .form-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .modal-input:focus + .form-icon {
      fill: var(--iris-color);
  }
}
.comment-container {
    margin-bottom: 16px;
}
.comment-text {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal);
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navyblue-modal);
    background-color: transparent;
    outline: transparent;
}
@media only screen and (min-width: 1158px) {
  .comment-text {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .comment-text:focus {
      border-color: var(--iris-color);
  } 
}
.agreement-container {
    margin-bottom: 24px;
}
.privacy-label {
    color: var(--light-slate-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.custom-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--navyblue-modal);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.default-checkbox:checked + .privacy-label > .custom-checkbox {
    border: none;
    background-color: var(--ocean-color);
    fill: var(--cloud-color);
}
.privacy-link {
    color: var(--iris-color);
}
.send-btn {
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    background-color: var(--iris-color);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white-color);
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
}
@media only screen and (min-width: 1158px) {
  .send-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .send-btn:hover,
  .send-btn:focus {
      background-color: var(--ocean-color);
  } 
}
/**
  |============================
  | Mobile menu
  |============================
*/
.menu-toggle {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 24px 0;
}
@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}
.menu-toggle-icon {
    stroke: var(--navy-blue-color);
}
.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
}
.menu-container.is-open {
    transform: translateX(0);
}
.menu-toggle-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
}
.menu-close-icon {
    fill: var(--navy-blue-color);
}
.mobile-menu-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}
.mobile-menu-nav .link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-color);
}
.mobile-menu-nav .is-active {
    color: var(--ocean-color);
}
.mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}
.mobile-menu-contacts .tel {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--iris-color);
}
.mobile-menu-contacts .email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}
.mobile-menu-socials {
    display: flex;
    gap: 56px;
}
@media only screen and (max-width: 400px) {
  .mobile-menu-socials {
    gap: 36px;
  }
}
.menu-socials-item {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.menu-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50% 50%;
  }